language: php

notifications:
  email: false

php:
  - 5.4

psql:
  database: drupal
  username: postgres

before_script:
 - psql -c 'create database drupal;' -U postgres
 - curl -o APC-3.1.10.tgz http://pecl.php.net/get/APC-3.1.10.tgz
 - tar -xzf APC-3.1.10.tgz
 - sh -c "cd APC-3.1.10 && phpize && ./configure && make && sudo make install && cd .."
 - rm -Rf APC-3.1.10
 - rm APC-3.1.10.tgz
 - echo "extension=apc.so" >> `php --ini | grep "Loaded Configuration" | sed -e "s|.*:\s*||"`
 - phpenv rehash
 - pyrus channel-discover pear.drush.org
 - pyrus install drush/drush
 - phpenv rehash
 - drush dl --yes drupal
 - cd drupal-*
 - drush si minimal --db-url=pgsql://postgres:@localhost/drupal --yes
 - drush en --yes simpletest
 - drush cc all
 - drush runserver --server=builtin 8080 &
 - sleep 4
 - drush vset --yes simpletest_verbose FALSE

script: php ./scripts/run-tests.sh --php /home/vagrant/.phpenv/shims/php --url http://127.0.0.1:8080 Tracker